/*
Theme Name: johnny-adventure-wordpress
Theme URI: https://gitlab.com/EnricoRuggiano/johnny-adventure-wordpress
Author: NewareApps
Author URI: https://www.patreon.com/johnnyadventure
Description: Wordpress Theme for Johnny Adventure Website
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: <https://www.gnu.org/licenses/gpl-2.0.html>
Text Domain: johnny-adventure-wordpress
Tags: johnny-theme
*/

body {
    font-family: 'Arial';
    font-size: 16px;

    color: black;
    overflow-x: hidden;
}

/*-------------------------*/
/* FONTS */
/*-------------------------*/

@font-face {
    font-family: 'Lemon';
    src: url('./assets/fonts/Lemon-Regular.ttf');
}

h1, h2, h3, title {
    font-family: 'Lemon';
    font-size: 4em !important;
    color: #ffff99;
    -webkit-text-stroke: 2px  black;
}

h4, h5, h6 {
    font-family: 'Lemon';
    font-size: 2.5em !important;
    color: #64FF2B;
    -webkit-text-stroke: 1.5px  black;
}

p {
    font-family: 'Lemon';
    color: #64FF2B;
    -webkit-text-stroke: 0.5px  black;
}

div, article, a {
    font-family: 'Lemon';
    color: black;
    -webkit-text-stroke: 0.5px  black;
}

p {
    line-height: 1.7em;
}

div.container {
    max-width: 960px;
    position: relative;
}

div.ja-background-black {
    width: 100%;
    height: 100vh;
    top: 0;
    position: fixed;
    z-index: -1;
    background: radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0, 0.8));
}

div.ja-background {
    z-index: -2;
}

div.ja-background > img {
    display: block !important;
    width: 100%  !important;
    height: auto !important;

    top: 0;
    position: fixed;

    z-index: -2;
}


@media (max-width: 1024px) {
    html, body {
        overflow-x: hidden !important;
    }

    body {
        position: relative !important;
    }

    div.container {
        position: absolute;
        top: 0;
    }

    div.ja-background-black{
        width: 100vw !important;
        height: 100vh !important;
    }

    div.ja-background {
        display: flex !important;
        justify-content: center !important;
        z-index: -2;
        height: 100vh !important;
    }

    /* div.ja-background > img {
        display: unset !important;
        
        height: 100vh !important;
        width: auto !important;
        overflow: hidden !important;
        top: 0;
        position: fixed;
        z-index: -2;
    } */
  
    .swiper-slide {
        justify-content: center !important;
    }

    /* .slide-image {
        height: 60vh !important;
        width: auto !important;
        max-width: unset !important;
    } */

    .swiper-button-next, .swiper-button-prev, .swiper-pagination {
        display: None !important;
    }

    .hero-links {
        padding-bottom: 2vh !important;
    }

    .drawers {
        padding-top: 0px !important;
    }

    .drawer {
        flex-direction: column !important;
    }

    .drawer-icon {
        margin: unset !important;
    }

    .drawer-text {
        text-align: center !important;
    }

    .features-description {
        flex-direction: column-reverse !important;
        align-items: center !important;

    }
    .features-img {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .credits-legal {
        text-align: center !important;
    }
 }


@media screen and (orientation:portrait) and (max-width: 800px) {
    div.ja-background > img {
        display: unset !important;
        height: 100vh !important;
        width: auto !important;
        overflow: hidden !important;
        top: 0;
        position: fixed;
        z-index: -2;
    }    

}

 /* landscape*/
@media screen and (orientation:landscape) and (max-width: 1280px) {

    div.ja-background > img {
        display: unset !important;
        height: auto !important;
        width: auto !important;
        overflow: hidden !important;
        top: 0;
        position: fixed;
        z-index: -2;
    }

    .hero-description {
        width: 80% !important;
    }

    .drawer {
        width: 80% !important;
    }

    .features-description {
        width: 80% !important;
    }

    

}
