article.post {
    padding: 2.5vw;
    margin-top: 5vh;

    border: 4px solid rgba(0,0,0,0.39);
    background: rgba(145, 124, 111, 0.39);
}

.entry-header > h4 {
    color: #ffff99 !important;
}

.entry-header > p {
    color: #ffff99 !important;
}

.wp-block-image img {
    max-width: 100% !important;
    display: block !important;
    width: 100%  !important;
    height: auto !important;
    padding: 10px !important;
}