
.credits {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.credits-logo {
    display: flex;
    justify-content: center;
}

.credits-legal > p {
    color: #ffff99 !important;
}

.credits-title {
    display: flex;
    justify-content: center;
    text-align: center;
    word-break: break-word;   
    padding-top: 5vh;
}

.credits-social {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
}

.credits-social-icon {
    width: 50px;
    margin: 5px;
    filter:brightness(0.8);
}

.credits-social-icon:hover {
    filter:brightness(1.1);
}