
.drawers {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20vh;
}

.drawer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    margin-top: 30px;

    border: 4px solid rgba(0,0,0,0.39);
    background: rgba(145, 124, 111, 0.39);

}

.drawer:hover {
    scale: 1.2;
}

.drawer-icon {
    width: 125px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;

    margin-right: 50px;
}

.drawer-text {
    display: flex;
    justify-content: center;
    text-align: left;
    word-break: break-word;
    flex-direction: column;
}

.drawer-text > h3 {
    font-size: 2.5em !important;
    -webkit-text-stroke: 1.5px  black !important;
}