
.features {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10vh;
}

.features-title {
    display: flex;
    justify-content: center;
    text-align: center;
    word-break: break-word;   
    padding-top: 5vh;
}

.features-description {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: 4px solid rgba(0,0,0,0.39);
    background: rgba(145, 124, 111, 0.39);
}

.features-list {
    text-align: left;
    word-break: break-word;
    padding-top: 5vh;
    color: #64FF2B;
}

.features-title.h3 {
    font-size: 2.5em !important;
    -webkit-text-stroke: 1.5px  black !important;
}

.features-img {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;

    margin-right: 50px;
}
