
.gallery {
    width: 100%;
    height: auto !important;
    overflow: unset !important;
}

.gallery-item {
    background-position: center;
    background-size: cover;
    display: flex;
    scale: 0.85;
}

.slide-image {
    display: block;
    background-position: center;

    max-width: 100% ;
    display: block ;
    width: 100%  ;
    height: auto ;

}

/* .swiper-slide-next > img {
    object-fit: unset !important;
}

.swiper-slide-prev > img {
    object-fit: unset !important;
} */

.swiper-pagination-bullet-active {
    background: #64FF2B !important;
}

.swiper-button-next, .swiper-button-prev {
    color: #64FF2B !important;
}