
.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20vh;
}

.hero-title {
    display: flex;
    justify-content: center;
    text-align: center;
    word-break: break-word;   
    padding-top: 5vh;
}

.hero-description {
    text-align: center;
    word-break: break-word;
    padding-top: 5vh;
}

.hero-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
}

.hero-button {
    width: 150px;
    padding: 30px;
    filter:brightness(0.8);
}

.hero-button:hover {
    scale: 1.2;
    filter:brightness(1.1);
}